@model StudentManagement.Models.StudentVM
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Student Id</th>
            <th>Student Name</th>
            <th>Email Address</th>
            <th>City</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        @{
            if(Model.StudentsList != null && Model.StudentsList.Count>0)
            {
                foreach (var item in Model.StudentsList)
                {
                        <tr>
                            <td>@item.StudentId</td>
                            <td>@item.StudentName</td>
                            <td>@item.EmailAddress</td>
                            <td>@item.City</td>
                            <td>@item.CreationDate.ToString("dd-MMM-yyyy")</td>
                            <td>
                                <a onclick="DeleteStudentRecord('@item.StudentId')" style="cursor:pointer;">DELETE</a>&nbsp;&nbsp;&nbsp;
                            <a onclick="UpdateStudentRecord('@item.StudentId', '@item.StudentName', '@item.EmailAddress', '@item.City',)" style="cursor:pointer;">DELETE</a>
                            </td>
                        </tr>
                }
            }
        }
    </table>
</div>